body{
    background-color: black;
    color: azure;
}
header{
    background-image: url(../multimedia/imagenes/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 600px;
}
h1{
    text-align: center;
}
a{
    color: beige;
}
nav{
    border: 1px solid white;
    display: block;
}