body{
    background-color: black;
    color: azure;
}
header{
    background-image: url(../multimedia/imagenes/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h3{
    text-align: center;
}
h1{
    color: greenyellow;
    margin-top: 15%;
    text-shadow: 3px 3px 4px black;

}
.navA{
    padding: 1%;
    margin: 2%;
}
.navA:link{
    color: black;
    text-decoration: dotted;
}
.navA:visited{
    color:beige;
    text-decoration:solid;
}
.navA:active{
    color: black;
    text-decoration: dotted;
}
.navA:hover{
    color: black;
    background-color: greenyellow;
    text-decoration:underline;
}
nav{
    border: 3px solid greenyellow;
    padding: 1.5%;
    width:auto;
    display: block;
    background-color: #ff914d;
}
#div2_footer{
    background-color: #ff914d;
    display: block;

    
}
.icon{
    padding: 0.5%;
    display: inline-block;
    margin-left: 23%;
}
#logo{
    display: block;
    align-content: center;
    margin-left: 49%;
    margin-bottom: 2%;
}
#art_information{
    margin-top: 2%;
    display: block;
    border: 3px solid greenyellow;
}
h2,p{
    padding: 1%;

}