body{
    background-color: #000000;
}
header{
    background-image: url(../multimedia/imagenes/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h3{
    text-align: center;
}
h1{
    color: #adff2f;
    margin-top: 15%;
    text-shadow: 3px 3px 4px #000000;

}
.navA{
    padding: 1%;
    margin: 2%;
}
.navA:link{
    color: black;
    text-decoration: dotted;
}
.navA:visited{
    color:beige;
    text-decoration:solid;
}
.navA:active{
    color: black;
    text-decoration: dotted;
}
.navA:hover{
    color: black;
    background-color: #adff2f;
    text-decoration:underline;
}
nav{
    border: 3px solid #adff2f;
    padding: 1.5%;
    width:auto;
    display: block;
    background-color: #ff914d;
}
#div2_footer{
    background-color: #ff914d;
    display: block;

    
}
.icon{
    padding: 0.5%;
    display: inline-block;
    margin-left: 23%;
}
#logo{
    display: block;
    align-content: center;
    margin-left: 49%;
    margin-bottom: 2%;
}
#art_information{
    margin-top: 2%;
    display: block;
    border: 3px solid #adff2f;
}
h2,p{
    padding: 1%;

}
.infoArticle{
    border-radius: 1% solid #ff914d;
    color: #000000;
}
#tColor{
    background-color: #f0ffff;
    border: 1px solid #ff914d;
}
.color{
    background-color: #f0ffff !important;
    border: 1px solid #ff914d !important;
} 