body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(251, 6, 6, 1) 35%,
    rgba(234, 255, 0, 1) 100%
  );
}
.container {
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  align-content: center;
  text-align: center;
}

video {
  width: 75%;
}
h1 {
  text-align: center;
}
